.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    font: italic 1.2em "Fira Sans", serif;
    font-size: 60px;   
    margin-left: 50px;
    align-self: center;
}

.portrait{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.portrait p{
    font-size: 20px;
    text-align: center;
}

.recipe-image{
    max-height: 150px;
    max-width: 150px;
    margin-left: 50px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.image-recipe{
    margin-left: 50px;
}

.intro-text{
    
    display: flex;
    
}


.content-recipe{
    display:flex;
    align-self: center;
}